allow htcbatt device:chr_file { read write };
allow htcbatt device:chr_file open;
allow htcbatt device:chr_file ioctl;
allow htcbatt sysfs_writable:file read;
allow htcbatt sysfs_writable:file open;
