allow system_app sysfs_devices_tegradc:file rw_file_perms;
allow system_app sysfs_devices_tegradc:dir rw_dir_perms;
allow system_app sysfs_devices_tegradc:lnk_file read;
allow system_app input_device:chr_file rw_file_perms;
allow system_app sysfs_smartdimmer:file rw_file_perms;
#allow system_app sysfs_ksm:dir search;
allow system_app system_app_data_file:file execute;
allow system_app system_app_data_file:file execute_no_trans;
