allow system_server sysfs_devices_system_cpu:file w_file_perms;
allow system_server sysfs_devices_system_cpu:dir r_dir_perms;
allow system_server diag_device:chr_file rw_file_perms;

# Access /data/sensors.
allow system_server sensors_data_file:dir r_dir_perms;
allow system_server sensors_data_file:file r_file_perms;

allow system_server cache_file:file execute;


# Allow fuse
allow system_server fuse:dir search;
